button {
    border: none;
    background-color: #6bc4c2;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
    background-color: #489492;
}

.equals {
    grid-column: 3 / 5;
    background-color: #b85141;
}

.equals:hover {
    background-color: #8f3b2e;
}
